@import "./variables.scss";

body {
    margin: 0px;
    font-family: sans-serif;
}

.container-md {
    max-width: $md;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12pt;
    padding-right: 12pt;
}

// We don't want to display the katex alt-text.
.katex-html {
    display: none;
}

.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    & > * {
        width: 100%;
    }
}

.site-footer {
    background-color: $footer-bg-color;
    margin-top: auto;
    color: white;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    & a {
        color: lightblue;
    }
    & a:hover {
        color: lightgoldenrodyellow;
    }
    & a:visited {
        color: lightpink;
    }
}

.webrings {
    text-align: center;

    & h2 {
        font-size: medium;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }
}

.webring {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
