@import "./variables.scss";

.posts-table {
    width: 100%;

    & .tags-col {
        width: 70px;

        @media only screen and (min-width: $sm) {
            width: 140px;
        }
        @media only screen and (min-width: $md) {
            width: 200px;
        }
    }

    & .date-col {
        max-width: 75px;
    }

    & .date-col a {
        text-decoration: none;
        &:hover {
            text-decoration: underline $text-muted;
        }
    }
}

.date {
    color: $text-muted;
    font-size: smaller;
}

.longform {
    & pre {
        padding: 10px;
        overflow: scroll;
    }
}

