@import "./variables.scss";

$active-color: $secondary-light;
$brand-color: $lightblue;
$nav-link-color: white;
$nav-link-active-color: $secondary-main;
$nav-link-hover-color: $secondary-light;
$burger-color: white;
$burger-hover-color: $secondary-light;

.site-heading {
    background-color: $primary-dark;
    color: white;
    padding-top: 10px;
}

.site-title {
    font-family: monospace;
    font-weight: bold;
    font-size: 32pt;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    color: $lightblue;

    & a {
        text-decoration: none;
        color: inherit;
    }
    & a:hover {
        color: $nav-link-hover-color;
    }
}

ul.navbar {
    list-style-type: none;

    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    padding: 10px;
    padding-left: 10px;
}

li.navitem {
    font-family: monospace;
    font-size: 16pt;

    display: inline;
    padding: 5px;
    margin-right: 10px;
    border-bottom: 3px solid transparent;

    & a {
        text-decoration: none;
        color: $nav-link-color;
    }

    & a:visited {
        color: $nav-link-color;
    }

    & a:hover {
        color: $nav-link-hover-color;
    }

    &.active a {
        color: $nav-link-active-color;
    }

    &.active {
        border-bottom: 3px solid $nav-link-active-color;
    }
}
