.tag-list {
    font-size: smaller;

    list-style-type: none;
    padding-left: 0px;

    & li {
        display: inline-block;
    }
}

.tag {
    margin-bottom: 0.5em;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 100px;

    text-decoration: none;
}

.tag:hover {
    text-decoration: underline;
}
