.tag {
    margin-right: 0.5em;

    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 100px;

    font-size: smaller;
    text-decoration: none;
}

.tag:hover {
    text-decoration: underline;
}
