// https://getbootstrap.com/docs/4.5/getting-started/theming/

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$grid-breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
);

$lightblue: #55cdfc !default;
$indigo: #3f51b5 !default;
$purple: #673ab7 !default;
$pink: #f7a8b8 !default;
$red: #f44336 !default;
$orange: #ff5722 !default;
$yellow: #ffab00 !default;
$green: #8bc34a !default;
$teal: #009688 !default;
$cyan: #00bcd4 !default;

$primary-main: #1a237e;
$primary-light: #534bae;
$primary-dark: #000051;
$primary-text: white;
$secondary-main: #ff6e40;
$secondary-light: #ffa06d;
$secondary-dark: #c53d13;
$secondary-text: black;

$heading-color: #141414;
$text-color: #3d3d3d;
$main-bg-color: white;
$text-muted: #888888;

$link-color: $secondary-main;
$link-hover-color: $secondary-light;
$link-color-invert: $secondary-light;
$link-hover-color-invert: $secondary-main;

$footer-bg-color: $primary-main;
$body-bg: $footer-bg-color;

$footer-height: 360px;

